@font-face {
    font-family: 'latosemibold';
    src: local('Lato');
    src: url(../fonts/Lato-Semibold.ttf) format('truetype');
}

@font-face {
    font-family: 'latolight';
    src: local('Lato');
    src: url(../fonts/Lato-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'lato';
    src: local('Lato');
    src: url(../fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'latothin';
    src: local('Lato');
    src: url(../fonts/Lato-Thin.ttf) format('truetype');
}


/* style errors pages start */

/* error 404 page */

/* for button */

.red-background {
  background-color: rgb(201, 48, 52);
}

.white {
  color: #ffffff;
}

.btn.btn-square {
  /* make button square */
  border-radius: 0;
  font-size: 15px;
  font-weight: 550;
  width: 120px;
  height: 50px;
  text-transform: uppercase;
}

/*  for p tag */

.pEdit {
  font-size: 24px;
  color: rgb(0, 0, 0);
  line-height: 0.969;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 37px;
}

.pBody {
  padding-top: 260px;
  padding-bottom: 260px;
}

/* for 500 page */

#header .navbar-brand img {

  width: 85%;
  height: auto;

}

#header input[type="text"]::placeholder{

  color: white;
}

.pEdit500 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 0.969;
  padding-bottom: 20px;
  padding-left: 37px;
}

.pEdit500Oops {
  font-size: 60px;
  font-weight: 990;
  color: rgb(0, 0, 0);
  line-height: 0.869;
  padding-bottom: 20px;
  padding-top: 40px;
  padding-left: 10px;
  padding-bottom: 20px;
}

/* style errors pages end */


/* for article page */

#article-title {
    font-size: 48px;
    font-family: "Lato";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    /* position: absolute;
  left: 348.538px;
  top: 944.761px;
  width: 1140px;
  height: 104px;
  z-index: 37; */
}


.article-body {
    font-size: 25px;
    font-family: "Lato";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: justifyLeft;
    /* position: absolute;
  left: 349.094px;
  top: 1179.828px;
  width: 1217px;
  height: 460px;
  z-index: 39; */
}

#article-author {
    font-size: 12px;
    font-family: "Lato";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 2.723;
    text-align: justifyLeft;
    /* -moz-transform: matrix( 1.24402801498156,0,0,1.28298863877247,0,0);
  -webkit-transform: matrix( 1.24402801498156,0,0,1.28298863877247,0,0);
  -ms-transform: matrix( 1.24402801498156,0,0,1.28298863877247,0,0);
  position: absolute;
  left: 391.749px;
  top: 1081.854px;
  width: 70.955px;
  height: 9.064px;
  z-index: 64; */
}

#article-image {
    background-color: rgb(201, 48, 52);
    position: absolute;
    left: 349px;
    top: 1662px;
    width: 1221px;
    height: 514px;
    z-index: 51;
}


#article-time {
    font-size: 12px;
    font-family: "Lato";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 2.723;
    text-align: justifyLeft;
    /* -moz-transform: matrix( 1.24402801498156,0,0,1.28298863877247,0,0);
  -webkit-transform: matrix( 1.24402801498156,0,0,1.28298863877247,0,0);
  -ms-transform: matrix( 1.24402801498156,0,0,1.28298863877247,0,0);
  position: absolute;
  left: 558.872px;
  top: 1081.854px;
  width: 59.666px;
  height: 9.064px;
  z-index: 65; */
}

#article-footer {
    font-size: 15px;
    font-family: "Lato";
    color: rgb(40, 40, 40);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.867;
    /* -moz-transform: matrix( 0.90299404123331,0,0,0.92,0,0);
  -webkit-transform: matrix( 0.90299404123331,0,0,0.92,0,0);
  -ms-transform: matrix( 0.90299404123331,0,0,0.92,0,0);
  position: absolute;
  left: 351.858px;
  top: 2583.498px;
  z-index: 85; */
}

.btn-text {
    font-size: 30px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: justifyLeft;
    /* -moz-transform: matrix( 0.692,0,0,0.69411764705882,0,0);
  -webkit-transform: matrix( 0.692,0,0,0.69411764705882,0,0);
  -ms-transform: matrix( 0.692,0,0,0.69411764705882,0,0);
  position: absolute;
  left: 871.991px;
  top: 2706px;
  z-index: 110; */
}

.btn-article {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    /* border-radius: 4px; */
    color: #fff;
    background-color: rgb(201, 48, 52);
    border-color: rgb(201, 48, 52);
}


.cont {
    position: relative;
    width: 100%;
}

/* Make the image responsive */

.cont img {
    width: 100%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */

.cont .btnn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 12px;
    /* padding: 12px 24px; */
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    width: 90px;
    height: 30px;
    cursor: pointer;
}


.cont .btnn:hover {
    /* background-color: rgb(201, 48, 52); */
}

/* change width of article container */

/* @media (min-width: 1200px) {
  .container{
    max-width: 900px;
  }
} */

/*changed container width */

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

/*custom body color*/

body {

    background: #f3f3f3;
    font-family: 'lato';
    /*    to go with new container size*/
    font-size: 80%;

}

.small-post {
    background-color: #fff;
    font-weight: bold;
    text-align: justify;
    text-align: left;
    background-clip: content-box;
}

.transparent-search {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    font-family: 'lato', FontAwesome;
}

.big-post {
    background-color: #fff;
    /*    font-weight: bold;*/
    text-align: left;
    background-clip: content-box;
    text-indent: inherit;
}

a {
    text-decoration: none;
    color: #000;
}

.subscribe-link a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #c93034;
    text-decoration: underline;
}

.event-btn {
    color: #fff !important;
    border-color: #fff !important;
}

.event-btn:hover {
    background-color: #c93034 !important;
}


/* for buttons to go over images */

.img-wrapper {
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15%;
    right: 0;
    text-align: left;
}


.call-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    right: 0;
    text-align: left;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 75%;

}

.call-img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 75%;

}

/*css of post details? lol */

.post-details {
    font-family: 'latolight';
    text-transform: uppercase;
    font-size: 75%;
    font-weight: bold;
    line-height: 2.723;

}

.post-details-img {
    height: 10px !important;
    width: 10px !important;
}


.news-option {
    font-family: 'latosemibold';
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 75%;
}

.news-detail {
    text-align: justify;
}

/* page-footer start */

.page-footer {
  border-top: 5px solid #c93034;
  background-color: #000;
  color: #fff;
  bottom: 0;
  right: 0;
  left: 0;
  text-transform: uppercase;
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  text-transform: uppercase;
  left: 0px;
  right: 0px;
  position: relative;
}

.page-footer ul {
  padding: 0;
}

.page-footer li {
  list-style: none;
}

.page-footer h5 {
  font-weight: bold;
  font-size: 13px;
}

.page-footer h6 {
  color: rgb(163, 163, 163);
  font-size: 11px;
}

.aEdit1 {
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.737;
}

.aEdit2 {
  font-size: 13px;
  color: rgb(163, 163, 163);
  text-transform: uppercase;
  line-height: 1.737;
}

.page-footer select {
  height: 30px;
  width: 150px;
  background-color: rgb(33, 33, 33);
  border: solid rgb(33, 33, 33);
  color: rgb(100, 100, 100);
  /* border-radius: 0px; */
}

.page-footer .icons a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.page-footer a:hover {
  color: rgb(201, 48, 52);
  text-decoration: none;
}

.page-footer .input-group input[type="text"] {
  background-color: rgb(33, 33, 33);
  border: solid rgb(33, 33, 33);

}

.page-footer .input-group  input[type="text"]::placeholder {
  color: rgb(100, 100, 100);
  text-transform: uppercase;
  font-size: 11.5px;
}

.page-footer .img-icon {
  height: 13px;
  width: 8px;
  display: table-cell;
  vertical-align: middle;
}

.page-footer .input-group {
  width: 200px;
  height: 30px;
}

.page-footer .input-group button {
  border-radius: 0px;
  background-color: rgb(46, 46, 46);
  border: solid rgb(46, 46, 46);

}


.page-footer .edit-logo {

  width: 135%;
  height: auto;
}

/* page-footer end */


/*ad content images with linear gradient*/

#ad-content img {
    background-image: linear-gradient(rgb(0, 0, , 0 0), black);
}

.ad {
    position: relative;
}

/**/

.caption {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 100%;
    color: #fff;
    font-family: "latosemibold";
}

/*make main carousel under main navbar*/

.main-nav {
    /* background: rgb(0, 0, 0, 0.1); */
    position: absolute;
    width: 100%;
    z-index: 999;
    /* background: none; */
    background: linear-gradient(rgb(0, 0, 0, 0.85) 30%, rgb(0, 0, 0, 0));
}


.main-carousel {
    position: absolute;
    top: 0px;
}


.section-heading {
    padding: 5px;
    background-color: #c93034;
    color: #fff;
    font-family: 'latosemibold';
    text-transform: uppercase;
}

.title {
    font-weight: bold;
}

/* line seperator */

.hrstyle {
    border-top: 1px solid #8c8b8b;
}

.short-hr {
    border-top: 1px solid #8c8b8b;
    width: 75%;
}

.hr-heading {
    border-top: 1px solid #8c8b8b;
}

.news-btn {
    background-color: #c93034 !important;
    padding-left: 5%;
    padding-right: 5%;
    border-color: #c93034 !important;
    border-radius: 0px;
}

.call-image {
    width: 100%;
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*modifying navbar*/

.main-navbar {
    /* position: absolute; */
    position: relative;
    top: 0px;
    z-index: 10;
    background: rgb(0, 0, 0);
    background: linear-gradient(rgb(0, 0, 0, 0.85) 30%, rgb(0, 0, 0, 0));
    /* ^ make navbar background transparent with gradient black to transp - get vignette effect */
    width: 100%;
}

.navbar-dark {
    background-color: black;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar-dark {
    background-color: black;
    background-image: none;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #c93034;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0, 0, 0, 0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0%, rgba(0, 0, 0, 0.00)), color-stop( 100%, rgba(0, 0, 0, 0.00)));
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover {
    color: #c93034;
    font-weight: bold;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #c93034;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link,
.navbar-dark {
    color: #fff;
    font-weight: bold;
}


.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #c93034;
    font-weight: bold;
}

/*responsive navbar icon color*/

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*carousel is also not available - copied from bootstrap*/

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 1 display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%; // Add this
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    left: 100%;
}

.carousel-inner > .prev {
    left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}

.carousel-inner > .active.left {
    left: -100%;
}

.carousel-inner > .active.right {
    left: 100%;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 20px;
    height: 20px;
    font-family: serif;
    line-height: 1;
}

.carousel-control .icon-prev:before {
    content: '\2039';
}

.carousel-control .icon-next:before {
    content: '\203a';
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;

    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}


/*custom caption!*/

.caption-header {
    font-family: 'latosemibold' !important;
    font-size: 150%;
    font-weight: bold;
}

.caption-header p {
    font-size: 75%;
    font-family: 'latothin';
}

.carousel-caption {
    position: absolute;
    /*    right: 15px;*/
    /*    bottom: 70px;*/
    bottom: 10%;
    /*    left: -50%;*/
    left: 15%;
    right: 15%;
    width: 39%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    /*    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);*/
    font-family: 'latothin';
}

.carousel-caption .btn {
    text-shadow: none;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -10px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -10px;
    }
    .carousel-caption {
        padding-bottom: 30px;
    }
    .carousel-indicators {
        bottom: 20px;
    }
}

/* pagination stuff */

.pagination {
    background-color: #f3f3f3;
    color: #8a8a8a;
    padding: 10px;
}

.search-results .pagination > li > a,
.search-results .pagination > li > span {
    border: 1px solid #f3f3f3;
}

.pagination > li.active > a,
.pagination .page-item a:hover {
    background: #f3f3f3;
    color: #5b5b5b;
}

.pagination .page-item a {
    background: #f3f3f3;
    color: #8a8a8a;
}

.prev-next-span {
    display: inline-block;
    width: 80px;
    font-size: 17px;
    font-weight: lighter;
    padding: 0px;
}

.page-num-span {
    display: inline-block;
    width: 20px;
    font-size: 18px;
    font-weight: lighter;
}

.search-body {
    font-size: 15px;
    font-family: "latothin";
    color: #5b5b5b;
    line-height: 1.2;
    text-align: justify;
    font-weight: 100;
}

.carousel-caption-white {
    background: #ffffff;
    position: absolute;
    color: black;
    bottom: 0%;
    left: 0%;
    right: 15%;
    width: 15%;
    height: 45%;
    z-index: 10;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    text-shadow: none;
    font-family: 'latothin';
    font-weight: 900;
}

.carousel-caption-white .btn {
    text-shadow: none;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -10px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -10px;
    }
    .carousel-caption-white {
        padding-bottom: 30px;
    }
    .carousel-indicators {
        bottom: 20px;
    }
}